<div id="leftcontent" class="clearfix">
        <p class="headgreen"><em>ELECTRONIC SERVICES DISCLOSURE<br />
          AND AGREEMENT ( VISA   DEBIT CARD )</em></p>
        <p>Limited Change in Terms/Addendum of Electronic Services   Disclosure<br />
        </p>
        <p>FOREIGN TRANSACTIONS: Purchases, cash advances and credits made in foreign   currencies will be billed to your Account in U.S. dollars. The conversion to   U.S. dollars will be made in accordance with the VISA operating regulations for   international transactions. The exchange rate between the transaction currency   and the billing currency used for processing international transactions is a   rate selected by VISA from the range of rates available in wholesale currency   markets for the applicable central processing date, which rate may vary from the   rate VISA itself receives, or the government-mandated rates in effect for the   applicable central processing date. The conversion rate may be different than   the rate on the day of the transaction or date of the posting of the Account.   When a credit to the Account does not fully offset a charge to the Account due   to changes in the rate, you are responsible for the differences. <br />
        </p>
</div>
        
</div>