<div id="leftcontent" class="clearfix">
       <p class="headgreen">Current Fee Schedule</p>
       <p>Downey Federal Credit Union operates under the philosophy that keeping fees as low as possible is a top priority. As a member/owner of the credit union, we want them to have affordable access to the financial services offered. </p>
</div>
        
      <div id="right_inner" class="clearfix">
      
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="rates">
  <tr>
  <th colspan="2">Services</th>
  </td>
  </tr>
  <tr>
    <td>Membership (one-time only, non-refundable)</td>
    <td class="right">$1.00</td>
  </tr>
  <tr>
    <td>Safe Deposit Boxes (per year)</td>
    <td class="right">$12 to $80</td>
  </tr>
  <tr>
    <td>American Express Travelers Cheques</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><dd>One Signature</dd></td>
    <td class="right">No Fee</td>
  </tr>
  <tr>
    <td><dd>Two Signatures</dd></td>
    <td class="right">$.50 per 100</td>
  </tr>
  <tr>
    <td>American Express Gift Cheques</td>
    <td class="right">$1.25</td>
  </tr>
  <tr>
    <td>Money Orders</td>
    <td class="right">$1.00</td>
  </tr>
  <tr>
    <td>Cashiers Checks</td>
    <td class="right">$2.00</td>
  </tr>
  <tr>
    <td>Notary Services</td>
    <td class="right">No Fee</td>
  </tr>
  <tr>
    <td>Medallion Signature Guarantee (Members Only)</td>
    <td class="right">No Fee</td>
  </tr>
  <tr>
    <td>IRS Tax Levy (Writ of Execution)</td>
    <td class="right">$20.00</td>
  </tr>
  <tr>
    <td>CA Franchise Tax Board Order to Withhold</td>
    <td class="right">$20.00</td>
  </tr>
  <tr>
    <td>Domestic Wire Transfers</td>
    <td class="right">$15.00</td>
  </tr>
  <tr>
    <td>International Wire Transfers</td>
    <td class="right">$25.00</td>
  </tr>
</table>


 <table width="100%" border="0" cellspacing="0" cellpadding="0" class="rates">
  <tr>
  <th colspan="2">Share Draft Checking</th>
  </td>
  </tr>
  <tr>
    <td>Check Returned Unpaid (NSF)</td>
    <td class="right">$20.00</td>
  </tr>
  <tr>
    <td>ACH Debit Returned Unpaid (NSF)</td>
    <td class="right">$20.00</td>
  </tr>
  <tr>
    <td>Reprocessed / Late Deposit</td>
    <td class="right">$3.00</td>
  </tr>
  <tr>
    <td>Account Closure Fee</td>
    <td class="right">$10.00</td>
  </tr>
  <tr>
    <td>Stop Payment / Revoke Authorization</td>
    <td class="right">$10.00</td>
  </tr>
  <tr>
    <td>Deposit Item Returned Unpaid</td>
    <td class="right">$10.00</td>
  </tr>
  <tr>
    <td>Acct. Reconciliation / Research</td>
    <td class="right">$10.00 per hour</td>
  </tr>
  <tr>
    <td>For each copy of a Share Draft</td>
    <td class="right">$4.00 each</td>
  </tr>
  <tr>
    <td>For each copy of a Monthly Statement</td>
    <td class="right">$2.00 each</td>
  </tr>
  <tr>
    <td>Personalized Check Order</td>
    <td class="right">Varies</td>
  </tr>
  <tr>
    <td>RUSH Order for Checks</td>
    <td class="right">Varies</td>
  </tr>
  <tr>
    <td>Check Collections</td>
    <td class="right">$20.00</td>
  </tr>
  <tr>
    <td>Insufficient Bill Pay Request Fee (NSF)</td>
    <td class="right">$20.00</td>
  </tr>
</table>


<table width="100%" border="0" cellspacing="0" cellpadding="0" class="rates">
  <tr>
  <th colspan="2">ATM &amp; VISA Debit Card</th>
  </td>
  </tr>
  <tr>
    <td>ATM/POS Replacement Card</td>
    <td class="right">$5.00</td>
  </tr>
  <tr>
    <td>Deposit Adjustment Fee</td>
    <td class="right">$5.00</td>
  </tr>
  <tr>
    <td>NSF Withdrawal</td>
    <td class="right">$20.00</td>
  </tr>
  <tr>
    <td>Usage Fee / Transaction Fee</td>
    <td class="right">No Fee</td>
  </tr>
</table>


<table width="100%" border="0" cellspacing="0" cellpadding="0" class="rates">
  <tr>
  <th colspan="2">VISA Credit Card</th>
  </td>
  </tr>
  <tr>
    <td>Over-Limit Fee</td>
    <td class="right">No Fee</td>
  </tr>
  <tr>
    <td>Late Payment Fee</td>
    <td class="right">$20.00</td>
  </tr>
    <tr>
    <td>Returned Payment Fee</td>
    <td class="right">$15.00</td>
  </tr>
  <tr>
    <td>Annual Fee, Cash Advance Fee</td>
    <td class="right">No Fee</td>
  </tr>
  <tr>
    <td class="top">Foreign Transaction Fee</td>
    <td class="right">1% of each transaction in U.S. dollars <br /><span class="disclaimer">(transactions made in foreign currency)</span><br />0.8% of each transaction in U.S. dollars <br /><span class="disclaimer">(transactions made in foreign currency, billed in U.S. dollars)</span></td>
  </tr>  
</table>


 <table width="100%" border="0" cellspacing="0" cellpadding="0" class="rates">
  <tr>
  <th colspan="2">Online Internet Access</th>
  </td>
  </tr>
  <tr>
    <td>Website Access</td>
    <td class="right">No Cost</td>
  </tr>
  <tr>
    <td>Home Branch</td>
    <td class="right">No Cost</td>
  </tr>
  <tr>
    <td>CU Pay IT - First 3 Months Free!</td>
    <td class="right">&nbsp;</td>
  </tr>
  <tr>
    <td>Monthly Fees <span class="redtext">With</span> NetPay, Direct Deposit, or Silver Star Checking. </td>
    <td class="right">&nbsp;</td>
  </tr>
  <tr>
    <td><dd>Unlimited Bill Payment Service</dd></td>
    <td class="right">No Fee</td>
  </tr>
  <tr>
    <td>Monthly Fees <span class="redtext">Without</span> NetPay, Direct Deposit, or Silver Star Checking.</td>
    <td class="right">&nbsp;</td>
  </tr>
  <tr>
    <td><dd>Unlimited Bill Payment Service</dd></td>
    <td class="right">$6.95</td>
  </tr>
  <tr>
    <td><dd>Transaction Limit 15***</dd></td>
    <td class="right">$4.95</td>
  </tr>
  <tr>
    <td><dd>Transaction Limit 10*** </dd></td>
    <td class="right">$3.95</td>
  </tr>
  <tr>
    <td><dd>Transaction Limit 5*** </dd></td>
    <td class="right">$2.95</td>
  </tr>
  <tr>
    <td class="disclaimer">*** $0.50 per transaction fee when transaction limit is exceeded </td>
    <td class="right">&nbsp;</td>
  </tr>
  <tr>
    <td class="disclaimer">Charges will be billed monthly based on members signup date.</td>
    <td class="right">&nbsp;	</td>
  </tr>

</table>
<p class="disclaimer">*Fees and charges are established by the Board of Directors and are subject to change.
</p>
       </div>
    </div>