<div id="leftcontent" class="clearfix">
       <p class="headgreen">Home Branch Frequently Asked Questions (FAQ)</p>
		<p>Following are some Frequently Asked Questions about our Home Branch service. If you have any other questions, please <%= link_to "e-mail us", new_contact_path %> or call 562-862-8141 during business hours.</p>
        <p class="question">What is Home Branch?</p>
        <p>Home Branch lets you get information about your DFCU account and perform select transactions using any computer with Internet access.</p>
        
        <p class="question">What are Home Branch’s operating hours?</p>
        <p>24 hours a day, seven days a week.</p>
        
        <p class="question">What kind of browser do I need?</p>
        <p>Your browser should support 128-bit encryption. We recommend Internet Explorer 7 or higher or Mozilla Firefox version 3.0 or higher.</p>
        
        <p class="question">How do I access Home Branch?</p>
        <p>Go to <%= link_to "www.downeyfcu.org", root_path %> and click on the Home Branch button. Enter your DFCU account number and Personal Identification Number (PIN).</p>
        
        <p class="question">How do I get a PIN?</p>
        <p>Use your DOTTI PIN. Once you’re in the system, you can select your own PIN.</p>
        
        <p class="question">How much does Home Branch cost?</p>
        <p>There is no fee for using Home Branch.</p>
        
        <p class="question">What kind of transactions can I perform using Home Branch?</p>
        <p>You’ll be able to:
        <ul>
        <li>See current account balances</li>
        <li>Transfer funds from one account to another (for example, from savings to checking)</li>
        <li>Request withdrawals (a check will be mailed to you)</li>
        <li>Transfer funds to another member’s account for which you have authorized access</li>
        <li>Make loan payments</li>
        <li>Get year-to-date dividend and interest paid information</li>
        <li>See when your next loan payment is due</li>
        <li>Access electronic bill payment service - 3rd party fee will be assessed</li>
        <li>View front and back images of cleared checks</li>
        <li>Get the payoff amount for your loans</li>
        </ul>
        </p>
     </div>
        
      <div id="right_inner" class="clearfix">
      
      <p class="question">When are transactions posted?</p>
      <p>This is a real-time system, so your transactions are effective immediately.</p>
      
      <p class="question">Is Home Branch secure?</p>
      <p>We use the most sophisticated firewalls and encryption software currently available. It would be extremely difficult for anyone to intercept data, and virtually impossible to decode it.</p>
      
      <p class="question">Is there a certain format for entering dollar figures?</p>
      <p>Enter the dollar amount in the following format: 
5.00 (no dollar sign)</p>

<p class="question">I got a "Problem signing on" message. What happened?</p>
<p>Most likely you entered an incorrect account number or PIN.</p>

<p class="question">What does "Connection has expired" mean?</p>
<p>For security purposes, your connection to Home Branch shuts off automatically if there is no activity for 15 minutes. Once you’re in the system, you can adjust the "shutoff" time.</p>

<p class="question">Can I download my account data to my personal financial software?</p>
<p>Yes. You can download info to Quicken&reg; or Microsoft Money&reg;. Simply click on the "Download" button.</p>

<p class="question">How far back does my transaction history go?</p>
<p>You can retrieve account information as far back as the previous 12 months.</p>

<p class="question">If I transfer information to another member’s account, can they see my account information?</p>
<p>No. Only persons with authorized access can retrieve account information.</p>

<p class="question">Are there restrictions on Home Branch transfers as there are on other electronic transactions?</p>
<p>Yes. Federal Regulation D limits transfers from each of your Share Savings Accounts made through Home Branch to a maximum of six per month, while you may make unlimited transfers from checking.</p>

<p class="question">Are there any dollar limits on transfers done through Home Branch?</p>
<p>No. As with DOTTI, transfers on Home Branch are subject only to availability of funds.</p>

<p class="question">Are there any accounts I can’t access through Home Branch?</p>
<p>Yes; Home Equity Loan advances, Certificates, IRAs and Visa cannot be processed online.</p> 
        </div>
    </div>