<div id="leftcontent" class="clearfix">
		<p class="headgreen">Field of Membership - "Your Invitation to Join"</p>
        <p>Downey Federal Credit Union offers the benefits of credit union membership to the entire <span class="bold italic">DOWNEY COMMUNITY</span>. If you <span class="bold italic">LIVE, WORK, ATTEND SCHOOL or WORSHIP</span> in the city of Downey, California, you are invited to join our Credit Union Family.</p>
        
		<p>Credit Union membership is for life even if you move, change jobs or retire. Once a member......always a member. Should you accept our invitation to become a member of Downey Federal Credit Union, your family members are immediately eligible for membership too.</p>
        <p>Downey Federal Credit Union is a not-for-profit, financial services cooperative that is member-owned and controlled through a Board of Directors elected from and by the membership. This volunteer Board establishes and revises the Credit Union’s policies and sets dividend and loan rates, providing you with higher yields when you save, and reduced rates when you borrow.</p>
        <p>As a member of Downey Federal Credit Union, you belong to an institution that is unique in the financial world. While we provide many services similar to banks, savings and loans or other financial institutions, we are driven by a philosophy that sets us apart. As a member of Downey Federal Credit Union, you can count on us....for the personalized service you deserve. </p>
        
        <hr />
        
        <a name="holidays"></a><p class="headgreen">Holidays for 2010</p>
        <table cellpadding="0" cellspacing="0" class="holidays">
        <tr>
        <td>New Year's Day</td>
        <td>January 1</td>
        </tr>
		<tr>
        <td>Martin Luther King Jr. Day</td>
        <td>January 18</td>
        </tr>
        <tr>
        <td>President's Day</td>
        <td>February 15</td>
        </tr>
        <tr>
        <td>Memorial Day</td>
        <td>May 31</td>
        </tr>
        <tr>
        <td>Independence Day</td>
        <td>July 5</td>
        </tr>
        <tr>
        <td>Labor Day</td>
        <td>September 6</td>
        </tr>
        <tr>
        <td>Columbus Day</td>
        <td>October 11</td>
        </tr>
        <tr>
        <td>Veteran's Day</td>
        <td>November 11</td>
        </tr>
        <tr>
        <td>Thanksgiving</td>
        <td>November 25</td>
        </tr>
        <tr>
        <td>Day after Thanksgiving</td>
        <td>November 26</td>
        </tr>
        <tr>
        <td>Christmas Day</td>
        <td>December 25</td>
        </tr>
        <tr>
        <td>New Year's Day, 2011</td>
        <td>January 1</td>
        </tr>
        </table>
                
         <hr />
         
         <p class="headgreen centertext">Downey Federal Credit Union<br />8237 Third Street<br />P.O. Box 4639<br />Downey, CA 90241-1639</p>
         <p class="headgreen centertext">(562) 862-8141<br />(562) 862-7782 FAX<br />http://www.downeyfcu.org</p>
         <p class="headgreen" style="font-size: 14px; clear:both;">Office Hours: 9:00am - 4:30pm Monday - Friday<br />Drive-Up Hours: 8:30am - 5:30pm Monday - Friday</p>
         
         <hr />
		<%= link_to image_tag("googlemap.jpg", :alt=>"google map"), "http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=8237+Third+Street,+Downey+CA+90241&amp;sll=33.94252,-118.132123&amp;sspn=0.001567,0.003473&amp;ie=UTF8&amp;hq=&amp;hnear=8237+3rd+St,+Downey,+Los+Angeles,+California+90241&amp;t=h&amp;z=16&amp;ll=33.94252,-118.132123",  :style=>"color:#0000FF;text-align:left", :rel=>"external" %>

      </div>
        
      <div id="right_inner" class="clearfix">
       <p class="headgreen">Your Accounts Are Safe At Downey Federal Credit Union</p>
       <p>Protecting your savings with the highest level of security available is one of our major objectives. That is why we combine your federal deposit insurance coverage with excess deposit insurance protection from American Share Insurance(ASI), the nation's largest private insurer. </p>
       <p>Your accounts are currently insured to a maximum of $250,000 by the National Credit Union Administration (NCUA), an agency of the federal government.</p>
       <p>Additionally, your board of directors has chosen to provide up to an additional $250,000 of savings protection to each qualifying account through ASI. </p>
       <p>ASI's Excess Deposit Coverage applies to any credit union account currently receiving the maximum level of $250,000 in coverage by NCUA.</p>
       <p>ASI's Excess insurance is limited only by the number of accounts NCUA insures. </p>
       <p>For example, if you have two credit union savings accounts, a regular savings account and IRA, each of these is covered separately by federal insurance up to $250,000. Each would also be eligible for ASI's Excess coverage of $250,000. Your account, therefore, would have a combined total coverage of $1,000,000.</p>
       <p>ASI is a credit union share guaranty fund owned by its member credit unions. It was founded in 1974 and insures only credit unions. </p>
       <p>Operating nationally, the company has taken great care to maximize the geographic and occupational diversity of its membership. This diversification, combined with sound insurance principles, offers its members greater security in times of regional economic downturns.</p>
       <p>Excess insurance is available only to qualifying credit unions meeting rigid underwriting requirements and providing monthly financial information to ASI, including a list of members qualifying for this added insurance. </p>
       <p>Either the credit union or American Share Insurance can terminate this Excess Coverage, but in either case, ASI requires that you be notified of any change in the insurance on your accounts. </p>
       <p>If you are unsure about either the nature of the amount of your savings insurance protection, please contact one of your Member Service Representatives.</p>
        </div>
    </div>