<div id="leftcontent" class="clearfix">
        <p class="headgreen">Online Privacy Statement</p>
        <p>With respect for the personal privacy of our members and website visitors, Downey FCU has created the following privacy statement. This page outlines who we gather, store and use information at our public website <a href="index.asp">www.downeyfcu.org</a>.</p>
        <p>Downey FCU does not gather user-specific information, details from your computer Internet software or save data about you and your computer. </p>
        <p>We do not share data collected from you, during your visit to our web site, with third parties unless it is specifically required to process your request. Examples of this data sharing would be processing membership/account requests and loan applications. It is the policy of Downey FCU to verify all new accounts and run credit reports on loan requests based upon the information provided by the member. Credit Reports and New Account Verifications are provided to Downey FCU by third parties we trust and with whom we have a business relationship. 
</p>
<p>This site contains links to other sites for your convenience. Downey FCU is not responsible for the privacy practices or the content of such other web sites. 
</p>
		</div>
        
		<div id="right_inner" class="clearfix">
		<p class="bold">SECURITY</p>
        <p>This site has security measures provided by Network Solutions to protect against the loss, misuse and alteration of the information under our control. Account information is encrypted to prevent other parties from accessing your data. </p>
        <p class="bold">CORRECTIONS</p>
        <p>If you should notice that information gathered from this website in incorrect or inaccurate, you may report your findings in one of the following ways: </p>
		<ol type="1">
        <li>Send a letter to our postal address: <nobr>Downey FCU, PO Box 4639, Downey, CA 90241</nobr> </li>
        <li>Call us during business hours (9:00 AM - 4:30 PM Monday-Friday) at: <nobr>(562) 862-8141 </nobr></li>
        <li>Send an e-mail to: <%= mail_to "comments@downeyfcu.org", "comments@downeyfcu.org" %> </li>
        </ol>
        
        <p>Please do not send personal account information to us using e-mail , as this is not a verified and secured form of communication. </p>
        
        
		</div>
    </div>