	<div id="leftcontent" class="clearfix">
			<p class="headgreen">Security Notification for Downey Federal Credit Union Account Access Site
	</p>
			<p>Downey Federal Credit Union may monitor and audit the usage of this system, and all persons are hereby notified that the use of this system constitutes consent to such monitoring and auditing. Unauthorized attempts to upload or download information on this web site are strictly prohibited and are subject to prosecution under the Computer Fraud and Abuse act of 1986 and Title 18 U.S.C. Sec. 1001 and 1030. 
	</p>
	</div>
</div>