<div id="leftcontent" class="clearfix">
        <p class="headgreen">Benefits of being a DFCU Silver Star Member</p>
        <p>To qualify for a Silver Star checking account, you must be at least 60 years young with Direct Deposit or Payroll Deduction coming to Downey Federal Credit Union.</p>
        <p>Features of Silver Star membership include:</p>
        <ul>
        	<li><span class="bold">FREE</span> Liberty Image checks (limited to one box per order) </li>
            <li>DFCU ATM card with unlimited transactions</li>
            <li>Overdraft Loan Protection ** </li>
            <li><span class="bold">FREE</span> Notary and Signature Guarantee Service </li>
            <li><span class="bold">NO ANNUAL FEE</span> DFCU Visa Card ** </li>
            <li><span class="bold">NO FEE</span> American Express Travelers Cheques </li>
            <li><span class="bold">NO FEE</span> Cashier's Checks (Limit 3 per month) </li>
        </ul>
        
        <p class="bold disclaimer">** Subject to Credit approval</p>
</div>
</div>