<div id="leftcontent" class="clearfix">
        <p class="headgreen">Highlights of our VISA Include:</p>
        	<ul class="bold">
            	<li>13.2% APR</li>
                <li>No Annual Fee</li>
                <li>No hidden charge for paying your total balance</li>
                <li>No cash advance fee</li>
                <li>25 day grace period on purchases</li>
                <li>Free convenience checks</li>
            </ul>
            <p>If you have credit cards with high interest rates from other lenders, save money by transferring those balances to your DFCU VISA. Call ext 228 or 225 for more information, or <%= link_to "Apply Online!", new_loanapp_path %></p>
            
            <hr />
            		<p class="headgreen">Lost or Stolen Visa Card</p>
        <p>If your VISA Credit Card has been lost or stolen please call this number <nobr><span class="bold">(800) 299-9842</span></nobr>.
        </div>
        
		<div id="right_inner" class="clearfix">

            <p class="headgreen">Questions about your DFCU Visa? EZCARDINFO.COM is the answer</p>
            <p>Access to your personal VISA credit card account information is now available to you 24 hours a day through our .<%= link_to "Online Services", olserv_path %> Or visit <%= link_to "www.ezcardinfo.com", "http://www.ezcardinfo.com", :rel=>"confirm external" %> to view and print the following:</p>
            <p class="bold">Payment Summary</p>
            <ul>
            	<li>Minimum payment due</li>
                <li>Payment due date</li>
                <li>Amount of last payment</li>
                <li>Date of last payment</li>
            </ul>
            
            <p class="bold">Account Summary</p>
            <ul>
            	<li>Current account balance</li>
                <li>Available credit</li>
                <li>Credit Limit</li>
                <li>Transactions posted since last statement (up to 10)
            </ul>

			<p>In addition, payment address information, dispute instructions including appropriate dispute forms, and important customer service telephone numbers are available. </p>
		</div>
    </div>